body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1818px;
    height: 31px;
    margin: 0 auto;
    padding-top: 49px;
    padding-bottom: 27px;
}

.header-logo {
    display: block;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 97px;
    height: 30px;
}

.header-links {
    flex-basis: 60%;
}

.header-links ul {
    display: flex;
    justify-content: start;
    gap: 54px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-links ul > li > a {
    color: #2B3541;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-decoration: none;
}

.header-links ul > li > a::after {
    margin-top: 10px;
    content: '';
    width: 100%;
    height: 1px;
    background: transparent;
    display: block;
    transition: .2s;
}

.header-links ul > li > a:hover::after {
    background-color: #2B3541;
}

.header-social {
    display: flex;
    align-items: center;
    gap: 26px;
}

.header-social button {
    display: block;
    width: 38px;
    height: 38px;
    border: 0;
    background-color: transparent;
}

.header-social .btn-instagram {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../images/icons/IN.svg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: .2s;
}

.header-social .btn-instagram:hover {
    transform: scale(1.2);
}

.header-social .btn-facebook {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../images/icons/FB.svg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: .2s;
}

.header-social .btn-facebook:hover {
    transform: scale(1.2);
}

.banner {
    width: 100%;
    overflow: hidden;
}

.banner-box {
    max-width: 1143px;
    margin: 0 auto;
    position: relative;
    padding-top: 228px;
    padding-bottom: 239px;
}

.banner-description {
    max-width: 676px;
}

.banner-bg {
    display: block;
    width: 996px;
    height: 852px;
    position: absolute;
    top: 0px;
    right: -185px;
    z-index: -1;
}

.banner-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    color: #2B3541;
    margin: 0;
}

.banner-count {
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    color: #2B3541;
    margin-top: 40px;
    margin-bottom: 0;
}

.banner-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #2B3541;
    margin: 20px 0 0 94px;
    display: block;
    max-width: 297px;
}

.banner-link {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #2B3541;
    padding: 20px 30px;
    background: #FBF138;
    display: inline-block;
    margin-left: 94px;
    margin-top: 40px;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    transition: .2s;
}

.banner-link:hover {
    background: #2B3541;
    color: #FBF138;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
}

.banner-arrow {
    background-image: url(../images/icons/Arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 52px;
    height: 52px;
    display: block;
    position: absolute;
    left: 94px;
    top: 790px;
    transition: .2s;
}

.banner-arrow:hover {
    transform: scale(1.2);
}