body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1143px;
    height: 31px;
    margin: 0 auto;
    padding: 49px 20px 27px;
}

.logo {
    display: block;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 97px;
    height: 30px;
}

.links {
    flex-basis: 60%;
}

.links ul {
    display: flex;
    align-items: baseline;
    justify-content: start;
    gap: 54px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.links ul > li > a {
    color: #2B3541;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-decoration: none;
}

.links ul > li > a::after {
    margin-top: 10px;
    content: '';
    width: 100%;
    height: 1px;
    background: transparent;
    display: block;
    transition: .3s;
}

.links ul > li > a:hover::after {
    background-color: #2B3541;
}

.social {
    display: flex;
    align-items: center;
    gap: 26px;
}

.social .button {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
}

.social .btn-instagram {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../images/icons/IN.svg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: .3s;
}

.social .btn-instagram:hover {
    transform: scale(1.2);
}

.social .btn-facebook {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../images/icons/FB.svg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: .3s;
}

.social .btn-facebook:hover {
    transform: scale(1.2);
}

.banner {
    max-width: 100%;
    overflow: hidden;
}

.banner-box {
    max-width: 1143px;
    margin: 0 auto;
    position: relative;
    padding: 228px 20px 239px;
}

.banner-description {
    max-width: 676px;
}

.banner-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -75px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    z-index: -1;
}

.banner-img {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    top: 0px;
    right: -96px;
    background: url(../images/@2x/banner-bg@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
}

.banner-gradient-left {
    width: 535px;
    height: 100%;
    background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
    opacity: .2;
}

.banner-gradient-right {
    width: 235px;
    height: 100%;
    background: linear-gradient(90deg, #FDF9B6 0%, rgba(253, 249, 182, 0.7) 166.81%);
    opacity: .2;
}

.banner-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    color: #2B3541;
    letter-spacing: .03em;
    margin: 0;
}

.banner-count {
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    color: #2B3541;
    margin-top: 40px;
    margin-bottom: 0;
}

.banner-text-box {
    max-width: 297px;
    margin: 20px 0 0 94px;
}

.banner-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #2B3541;
    margin-bottom: 60px;
}

.banner-link {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #2B3541;
    padding: 20px 30px;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    transition: .3s;
}

.banner-link:hover {
    background: #2B3541;
    color: #FBF138;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
}

.banner-arrow {
    background-image: url(../images/icons/Arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 52px;
    height: 52px;
    display: block;
    position: absolute;
    left: 50px;
    bottom: 10px;
    transition: .3s;
}

.banner-arrow:hover {
    transform: scale(1.2);
}

.events {
    max-width: 1143px;
    margin: 160px auto;
    padding: 0 20px;
}

.events-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    color: #2B3541;
    margin-bottom: 40px;
}

.events-item-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 600px;
    gap: 20px;
}

.events-item-maraphon {
    background-image: linear-gradient(180deg, rgba(251, 241, 56, .3) 0%, rgba(253, 249, 182, 0) 100%), url(../images/@2x/maraphon@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom -2px center;
    position: relative;
}

.events-item-maraphon:hover {
    background-image: linear-gradient(180deg, rgba(251, 241, 56, .6) 0%, rgba(253, 249, 182, 0) 100%), url(../images/@2x/maraphon@2x.png);
}

.events-item-vebinar1 {
    background-image: linear-gradient(180deg, rgba(251, 241, 56, .3) 0%, rgba(253, 249, 182, 0) 100%), url(../images/@2x/vebinar1@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
}

.events-item-vebinar1:hover {
    background-image: linear-gradient(180deg, rgba(251, 241, 56, .6) 0%, rgba(253, 249, 182, 0) 100%), url(../images/@2x/vebinar1@2x.png);
}


.events-item-vebinar2 {
    background-image: linear-gradient(180deg, rgba(251, 241, 56, .3) 0%, rgba(253, 249, 182, 0) 100%), url(../images/@2x/vebinar2@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
}

.events-item-vebinar2:hover {
    background-image: linear-gradient(180deg, rgba(251, 241, 56, .6) 0%, rgba(253, 249, 182, 0) 100%), url(../images/@2x/vebinar2@2x.png);
}

.events-item-maraphon,
.events-item-vebinar1,
.events-item-vebinar2 {
    min-height: 540px;
    overflow: hidden;
    padding: 30px;
}

.events-item-time {
    font-size: 18px;
    font-weight: 700;
    color: #2B3541;
    line-height: 27px;
    margin: 0;
    padding-bottom: 10px;
    opacity: .6;
}

.events-item-text {
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
    color: #2B3541;
    margin: 0;
    padding: 10px 0px;
}

.events-item-link {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #FBF138;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 37px;
    background: #2B3541;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.28);
    display: inline-flex;
    margin-top: 40px;
    text-align: center;
    opacity: 0;
    transition: .3s;
}

.events-item-maraphon,
.events-item-vebinar1,
.events-item-vebinar2 {
    cursor: pointer;
}

.events-item-maraphon:hover .events-item-link,
.events-item-vebinar1:hover .events-item-link,
.events-item-vebinar2:hover .events-item-link {
    opacity: 1;
}

.events-item-name {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    padding: 10px 20px;
    background: #FBF138;
    color: #2B3541;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 0;
    opacity: 1;
    transition: .3s;
}

.events-item-maraphon:hover .events-item-name,
.events-item-vebinar1:hover .events-item-name,
.events-item-vebinar2:hover .events-item-name {
    opacity: 0;
}

.events-item-link-m {
    display: none;
}

.schedule {
    max-width: 1143px;
    margin: 160px auto;
    padding: 0 20px;
}

.schedule-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 38px;
}

.schedule-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    color: #2B3541;
    flex-basis: 280px;
    margin: 0;
}

.schedule-calendar {
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
    color: #2B3541;
    margin: 0;
}

.schedule-item-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "a b c"
        "d b c"
        "d b f"
        "d e f"
        "d e f";
    gap: 20px 20px;
}

.schedule-item {
    border: 1px solid rgba(43, 53, 65, .5);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 30px;
    cursor: pointer;
    transition: .3s;
    position: relative;
    overflow: hidden;
}

.schedule-item:hover {
    border: 1px solid transparent;
    background: rgba(243, 243, 243, .5);
    box-shadow: 0px 4px 30px rgba(43, 53, 65, 0.2);
}

.schedule-item:nth-child(4):hover {
    border: 1px solid transparent;
    background: linear-gradient(180deg, rgba(251, 241, 56, .7) 0%, rgba(253, 249, 182, 0.45) 100%);
    box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
}

.schedule-item:hover .schedule-item-description {
    max-height: 130px;
}

.schedule-item:nth-child(1) {
    grid-area: a;
    height: 208px;
}

.schedule-item:nth-child(2) {
    grid-area: b;
    height: 360px;
}

.schedule-item:nth-child(3) {
    grid-area: c;
    height: 267px;
}

.schedule-item:nth-child(4) {
    grid-area: d;
    height: 391px;
}

.schedule-item:nth-child(5) {
    grid-area: e;
    height: 239px;
}

.schedule-item:nth-child(6) {
    grid-area: f;
    height: 332px;
}

.schedule-item-active {
    background: linear-gradient(180deg, rgba(251, 241, 56, .7) 0%, rgba(253, 249, 182, 0.45) 100%);
    box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
    border-color: transparent;
}

.schedule-item-active .schedule-item-description {
    max-height: 100vh;
}

.schedule-item-calendar {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #010101;
    text-align: right;
    margin: 0;
    opacity: .7;
    position: absolute;
    right: 30px;
    top: 20px;
}

.schedule-item-icon {
    width: 65px;
    height: 65px;
    margin-bottom: 20px;
}

.schedule-item-text {
    font-size: 18px;
    font-weight: 700;
    line-height: 22.5px;
    color: #2B3541;
    margin: 0px 0px 20px 0px;
}

.schedule-item-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #2B3541;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: .3s linear;
}

.subscribe {
    width: 100%;
    min-height: 348px;
    background: #F3F3F3;
}

.subscribe-box {
    max-width: 617px;
    margin: 0 auto;
}

.subscribe-title {
    position: relative
}

.subscribe-title::before {
    content: '';
    width: 53px;
    height: 53px;
    top: 52px;
    left: -12px;
    border-radius: 100%;
    background: #FBF138;
    position: absolute;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
}

.subscribe-title > h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    padding-top: 80px;
    text-align: center;
    position: relative;
}

.subscribe-field-inpt {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    gap: 20px;
}

.subscribe-field-inpt input {
    border: 1px solid transparent;
    color: #2B3541;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    padding: 0px 19px;
    min-width: 372px;
    height: 65px;
    outline: none;
}

.subscribe-field-inpt-ctr p {
    font-size: 14px;
    line-height: 1.5;
    color: #AE0303;
    opacity: 0;
    margin: 0;
    text-align: left;
}

.subscribe-field-inpt-ctr input:invalid {
    border: 1px solid #AE0303;
}

.subscribe-field-inpt-ctr > input:invalid + p {
    opacity: 1;
}

.subscribe-field-inpt button {
    border: 0;
    color: #2B3541;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 19px 43px;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.2);
    transition: .3s;
    height: 65px;
}

.subscribe-field-inpt button:hover {
    background: #2B3541;
    box-shadow: 0px 13px 24px rgba(43, 53, 65, 0.2);
    color: #FBF138;
    cursor: pointer;
}

.subscribe-field-chbx {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.subscribe-chkbx {
    width: 18px;
    height: 18px;
    position: relative;
}

.subscribe-chkbx input{
    position: absolute;
    opacity: 0;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.subscribe-chkbx > input + label {
    display: inline-block;
    align-items: center;
    user-select: none;
}

.subscribe-chkbx > input + label::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #2B3541;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90% 90%;
}

.subscribe-chkbx > input:checked + label::before {
    background-color: #2B3541;
    color: #fff;
    background-image: url(../images/icons/vector.svg);
}

.subscribe-field-chbx span {
    font-size: 11px;
    font-weight: 400;
    line-height: 16.5px;
    color: #2B3541;
    opacity: .5;
}

.subscribe-field-chbx a {
    font-size: 11px;
    font-weight: 400;
    line-height: 16.5px;
    color: #2B3541;
    opacity: .5;
    transition: .3s;
}

.subscribe-field-chbx a:hover {
    opacity: 1;
}

.about {
    max-width: 1143px;
    margin: 0 auto;
    padding: 160px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 168px minmax(97px, 1fr);
    grid-template-areas: 
        "a a c c"
        "b b c c"
        "d e f g";
    gap: 77px 44px;
}

.about-item:nth-child(1) {
    grid-area: a;
}

.about-item:nth-child(2) {
    grid-area: b;
}

.about-item:nth-child(3) {
    grid-area: c;
    background-image: linear-gradient(180deg, rgba(251, 241, 56, .3) 0%, rgba(253, 249, 182, 0) 100%), url(../images/@2x/trainer@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-item:nth-child(4) {
    grid-area: d;
}

.about-item:nth-child(5) {
    grid-area: e;
}

.about-item:nth-child(6) {
    grid-area: f;
}

.about-item:nth-child(7) {
    grid-area: g;
}

.about-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    margin: 0;
}

.about-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #2B3541;
    margin-top: 19px;
    margin-bottom: 34px;
    opacity: .6;
}

.about-link {
    color: #2B3541;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 21px 51px;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.2);
    transition: .3s;
}

.about-link:hover {
    background: #2B3541;
    box-shadow: 0px 13px 24px rgba(43, 53, 65, 0.2);
    color: #FBF138;
}

.about-item-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 22.5px;
    color: #2B3541;
}

.about-item-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #2B3541;
    opacity: .6;
}

footer {
    width: 100%;
    background: #F3F3F3;
    padding-top: 54px;
}

.footer-box-links,
.footer-box-copyright {
    max-width: 1143px;
    margin: 0 auto;
    padding: 0 20px 21px;
}

.footer-box-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer-box-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-box-links .links {
    flex-basis: 50%;
}

.footer-box-links ul {
    gap: 90px;
}

.footer-box-links ul > li > a {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #2B3541;
}

.footer-box-links .contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 62px;
}

.footer-box-links .mail-link {
    position: relative;
}

.footer-box-links .mail-link > a{
    color: #2B3541;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    position: relative;
}

.footer-box-links .mail-link::before {
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: #FBF138;
    position: absolute;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    left: -16px;
    bottom: 12px;
}

.footer-box-links .social > .button {
    width: 27px;
    height: 27px;
}

.footer-box-links .social > .button > .btn-instagram,
.footer-box-links .social > .button > .btn-facebook {
    width: 27px;
    height: 27px;
}

.footer-box-copyright {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #2B3541;
}

.copyright-item span {
    opacity: .3;
}

.footer-box-copyright a {
    color: #2B3541;
    opacity: .3;
    transition: .3s;
}

.footer-box-copyright a:hover {
    opacity: 1;
}

.subscribe-pop-up-bg {
    background: rgba(43, 53, 65, .4);;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
}

.subscribe-pop-up {
    width: 600px;
    min-height: 577px;
    position: fixed;
    background: #F3F3F3;
    top: calc(50% - 288.5px);
    left: calc(50% - 300px);
    box-shadow: 0px 4px 30px rgba(43, 53, 65, .6);
}

.subscribe-pop-up-button {
    width: 20px;
    height: 20px;
    background-image: url(../images/icons/close.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.subscribe-pop-up-title {
    position: relative;
}

.subscribe-pop-up-title::before {
    content: '';
    width: 53px;
    height: 53px;
    border-radius: 100%;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    position: absolute;
    left: 124px;
    bottom: 46px;
}

.subscribe-pop-up-title h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    margin: 60px 0 0 0;
    padding: 0px 99px;
    position: relative;
}

.subscribe-pop-up-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #2B3541;
    padding: 0px 129px;
    text-align: center;
    margin: 18px 0px 40px 0px;
}

.subscribe-pop-up-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.subscribe-pop-up-form div {
    width: 100%;
    text-align: center;
}

.subscribe-pop-up-form input {
    border: 1px solid transparent;
    color: #2B3541;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    padding: 19px 19px 19px;
    margin: 0 auto;
    width: calc(100% - 100px);
}

.subscribe-pop-up-form input:focus {
    outline: none;
}

.subscribe-pop-up-form p {
    font-size: 14px;
    line-height: 1.5;
    color: #AE0303;
    opacity: 0;
    margin: 0;
    padding: 0 30px;
    text-align: left;
}

.subscribe-pop-up-form input:invalid {
    border: 1px solid #AE0303;
}

.subscribe-pop-up-form > div > input:invalid + p {
    opacity: 1;
}

.subscribe-pop-up-form button {
    margin-top: 20px;
    border: 0;
    color: #2B3541;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 19px 43px;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.2);
    transition: .3s;
    width: 538px;
    text-transform: uppercase;
}

.subscribe-pop-up-form button:hover {
    background: #2B3541;
    box-shadow: 0px 13px 24px rgba(43, 53, 65, 0.2);
    color: #FBF138;
    cursor: pointer;
}

/* Mobile-menu */
.burger-btn {
    border: 0;
    background-image: url(../images/icons/burger.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 29px;
    height: 22px;
    background-color: transparent;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.mobile-menu-bg {
    background: rgba(43, 53, 65, .4);;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
}

.mobile-menu {
    width: 100%;
    background: #F3F3F3;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 33.5px 10px 10px 10px;
    gap: 40px;
}

.mobile-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: calc(100% - 20px);
}

.mobile-menu .logo {
    width: 78px;
    height: 24px;
}

.mobile-menu-close-btn {
    width: 20px;
    height: 20px;
    background-image: url(../images/icons/close.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.mobile-menu .links {
    flex-basis: content;
    max-width: calc(100% - 20px);
}

.mobile-menu .links ul {
    flex-direction: column;
    gap: 20px;
}

.mobile-menu .links ul li {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(43, 53, 65, .2);
}

.mobile-menu .links ul li:last-child {
    border: 0;
}

.mobile-menu .links ul li a {
    color: #2B3541;
}

.mobile-menu .links ul li a::after {
    display: none;
}

.mobile-menu .social {
    justify-content: flex-end;
    max-width: calc(100% - 20px);
    gap: 20px;
}

.mobile-menu .social .button {
    width: 26px;
    height: 26px;
}

@media (min-width: 898px) {
    .burger-btn {
        display: none;
    }
}

@media (max-width: 1600px) {
    .banner-bg {
        right: 0;
    }
}

@media (max-width: 1408px) {
    .banner-img {
        right: 0;
    }
}

@media (max-width: 1230px) {
    .banner-title {
        font-size: 38px;
        line-height: 1.5;
    }
}

@media (max-width: 1140px) {
    .banner-text-box {
        margin: 0;
    }
}

@media (max-width: 1110px) {
    .schedule-item-icon {
        width: 39px;
        height: 39px;
    }
    
    .schedule-item-text {
        font-size: 16px;
        line-height: 1.5;
    }

    .schedule-item-description {
        font-size: 16px;
        line-height: 1.5;
    }
}

@media (max-width: 1050px) {
    .banner {
        max-width: 100%;
    }

    .banner-box {
        max-width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .banner-description {
        max-width: 60%;
        margin: 0 auto;
    }

    .banner-link {
        margin: 40px 0;
        width: 100%;
        padding: 20px 0;
        text-align: center;
        display: block;
    }

    .banner-arrow {
        display: none;
    }

    .banner-bg {
        position: relative;
        width: 100%;
        height: 610px;
        top: 0;
        right: 0;
        gap: 5vw;
    }

    .banner-gradient-left {
        width: 65vw;
    }

    .banner-gradient-right {
        width: 30vw;
    }

    .banner-img {
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background-position: bottom center;
    }
}

@media (max-width: 1024px) {
    footer {
        background: transparent;
    }

    .footer-box-links,
    .footer-box-copyright {
        max-width: 100%;
        margin-bottom: 40px;
    }

    .footer-box-links {
        display: grid;
        gap: 40px;
        grid-template-areas: "a a"
                             "b b"
                             "c c";
    }

    .footer-box-links .logo {
        grid-area: a;
        margin: 0 auto 20px;
    }

    .footer-box-links .links {
        grid-area: b;
    }

    .footer-box-links .contacts {
        grid-area: c;
    }

    .footer-box-links .links ul {
        justify-content: space-between;
        gap: 20px;
    }

    .footer-box-copyright {
        flex-direction: column;
        gap: 16px;
    }
}

@media (max-width: 992px) {
    .footer-box-links .links {
        flex-basis: 50%;
    }
}

@media (max-width: 985px) {
    .events {
        max-width: 100%;
        margin-bottom: 0;
    }

    .events-item-grid {
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "a b"
                             "c c";
    }

    .events-item-maraphon {
        grid-area: a;
    }

    .events-item-vebinar1 {
        grid-area: b;
    }

    .events-item-vebinar2 {
        grid-area: c;
        background-image: linear-gradient(180deg, rgba(251, 241, 56, .3) 0%, rgba(253, 249, 182, 0) 100%), url(../images/@2x/vebinar2_m@2x.png);
    }

    .events-item-vebinar2:hover {
        background-image: linear-gradient(180deg, rgba(251, 241, 56, .6) 0%, rgba(253, 249, 182, 0) 100%), url(../images/@2x/vebinar2_m@2x.png);
    }

    .events-item-vebinar2 > .events-item-link {
        margin-left: 30px;
        width: 25%;
    }

    .events-item-name {
        right: auto;
        left: 0;
    }

    .events-item-vebinar2 > .events-item-text {
        max-width: 30%;
    }

    .events-item-link-m {
        display: block;
        width: 47px;
        height: 47px;
        border: 0;
        background-image: url(../images/icons/more.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: #2B3541;
        color: #FBF138;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .events-item-maraphon:hover .events-item-link,
    .events-item-vebinar1:hover .events-item-link,
    .events-item-vebinar2:hover .events-item-link {
        opacity: 0;
    }

    .events-item-maraphon:hover .events-item-name,
    .events-item-vebinar1:hover .events-item-name,
    .events-item-vebinar2:hover .events-item-name {
        opacity: 1;
    }
}

@media (max-width: 891px) {
    .banner-description {
        max-width: 80%;
    }
}

@media (max-width: 897px) {
    header .links > ul {
        display: none;
    }

    header {
        max-width: 100%;
        padding: 30px 20px 60px;
    }
    
    header .logo {
        width: 78px;
        height: 24px;
    }

    header .links {
        flex-basis: 60%;
        height: 22px;
    }

    header .social {
        gap: 20px;
    }

    header .social .button {
        width: 26px;
        height: 26px;
    }

    .banner-bg {
        height: 410px;
    }

    .social .btn-instagram,
    .social .btn-facebook {
        width: 26px;
        height: 26px;
    }

    .social .btn-instagram:hover,
    .social .btn-facebook:hover {
        transform: scale(1);
    }

    .schedule {
        max-width: 100%;
    }

    .schedule-calendar {
        opacity: .7;
    }

    .schedule-item-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "a"
                             "b"
                             "c"
                             "d"
                             "e"
                             "f";
        gap: 20px;
    }

    .schedule-item:nth-child(1) {
        grid-area: a;
    }

    .schedule-item:nth-child(2) {
        grid-area: c;
    }

    .schedule-item:nth-child(3) {
        grid-area: e;
    }

    .schedule-item:nth-child(4) {
        grid-area: b;
    }

    .schedule-item:nth-child(5) {
        grid-area: d;
    }

    .schedule-item:nth-child(6) {
        grid-area: f;
    }

    .schedule-item {
        height: auto!important;
        min-height: 158px;
    }

    .schedule-item:hover {
        box-shadow: none;
        border: 1px solid rgba(43, 53, 65, .5);
    }

    .schedule-item-main-description {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 24px;
        margin-top: 40px;
    }

    .schedule-item-icon {
        margin-bottom: 0;
    }

    .schedule-item-text {
        margin-top: 20px;
    }

    .schedule-item-active .schedule-item-main-description {
        margin-top: 100px;
    }

    .about {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: minmax(97px, 1fr);
        grid-template-areas: 
            "a"
            "b"
            "c"
            "d"
            "e"
            "f"
            "g";
        gap: 40px;
    }
    
    .about-item:nth-child(1) {
        grid-area: a;
    }
    
    .about-item:nth-child(2) {
        grid-area: f;
        min-height: 65px;
    }
    
    .about-item:nth-child(3) {
        grid-area: g;
        background-image: linear-gradient(180deg, rgba(251, 241, 56, .3) 0%, rgba(253, 249, 182, 0) 100%), url(../images/@2x/trainer@2x.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 410px;
    }
    
    .about-item:nth-child(4) {
        grid-area: b;
    }
    
    .about-item:nth-child(5) {
        grid-area: c;
    }
    
    .about-item:nth-child(6) {
        grid-area: d;
    }
    
    .about-item:nth-child(7) {
        grid-area: e;
    }

    .about-item-text {
        opacity: .6;
    }

    footer {
        padding-top: 0;
    }

    .footer-box-links,
    .footer-box-copyright {
        padding: 0 10px;
        margin-bottom: 40px;
    }

    .footer-box-links {
        gap: 20px;
    }

    .footer-box-links .social > .button {
        width: 27px;
        height: 27px;
    }

    .footer-box-links .links ul {
        justify-content: space-between;
        gap: 20px;
    }

    .footer-box-links ul > li > a {
        font-size: 12px;
        line-height: 18px;
    }

    .footer-box-links .mail-link > a {
        font-size: 12px;
        line-height: 18px;
    }

    .footer-box-links .mail-link::before {
        width: 20px;
        height: 20px;
        left: -6px;
        bottom: 10px;
    }

    .footer-box-copyright {
        gap: 16px;
    }

    .footer-box-copyright .copyright-item {
        font-size: 10px;
        line-height: 15px;
    }

    .mobile-menu {
        padding: 33.5px 20px 20px 20px;
    }

    .mobile-menu-header {
        max-width: calc(100% - 40px);
    }

    .mobile-menu .links {
        max-width: calc(100% - 40px);
    }

    .mobile-menu .social {
        max-width: calc(100% - 40px);
    }
}

@media (max-width: 695px) {
    header {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    header .links {
        flex-basis: 20%;
    }

    .banner-description {
        max-width: 60%;
        margin: 0;
    }
    
    .banner-box {
        padding: 0 10px;
    }

    .banner-title {
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0;
    }

    .banner-count {
        font-size: 26px;
        line-height: 32px;
        margin-top: 14px;
    }

    .banner-text {
        margin: 16px 0 0 0;
        font-size: 16px;
        line-height: 24px;
    }

    .banner-link {
        margin: 40px 0;
        width: 100%;
        padding: 20px 0;
        text-align: center;
        display: block;
    }

    .events {
        padding: 0 10px;
        margin-top: 20px;
    }
    
    .events-item-maraphon,
    .events-item-vebinar1,
    .events-item-vebinar2 {
        min-height: 440px;
    }

    .events-title {
        padding-top: 80px;
        padding-bottom: 20px;
        font-size: 26px;
        line-height: 32px;
        margin: 0;
    }

    .events-item-maraphon,
    .events-item-vebinar1,
    .events-item-vebinar2 {
        padding: 20px 20px;
    }

    .events-item-time {
        font-size: 12px;
        line-height: 12px;
        padding-top: 20px;
    }

    .events-item-text {
        font-size: 16px;
        line-height: 19px;
        padding-top: 16px;
    }

    .events-item-link {
        display: none;
    }

    .events-item-name {
        font-size: 12px;
        line-height: 18px;
        padding: 7px 16px;
        right: auto;
        left: 0;
    }

    .events-item-link-m {
        display: block;
        width: 30px;
        height: 30px;
        border: 0;
        background-image: url(../images/icons/more.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: #2B3541;
        color: #FBF138;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .schedule {
        padding: 0px 10px;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .schedule-title {
        font-size: 26px;
        line-height: 32px;
    }

    .schedule-calendar {
        font-size: 16px;
        line-height: 19px;
        opacity: .7;
        flex-basis: 130px;
    }

    .schedule-item {
        padding: 20px 20px;
    }

    .schedule-item-calendar {
        font-size: 16px;
        line-height: 24px;
    }

    .schedule-item-icon {
        width: 34px;
        height: 53px;
    }

    .schedule-item-text {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 0;
    }

    .schedule-item-description {
        font-size: 12px;
        line-height: 18px;
        margin-top: 16px;
    }

    .subscribe {
        min-height: 416px;
    }

    .subscribe-box {
        max-width: 100%;
        padding: 0px 10px;
    }

    .subscribe-title {
        max-width: max-content;
        margin: 0 auto;
    }

    .subscribe-title::before {
        width: 31px;
        height: 31px;
        top: 42px;
        left: 40px;
    }

    .subscribe-title > h3 {
        font-size: 26px;
        line-height: 32px;
        padding: 57px 54px 51px 54px;
        margin: 0;
    }

    .subscribe-field-inpt {
        flex-direction: column;
        gap: 40px;
    }

    .subscribe-field-inpt input {
        min-width: calc(100% - 70px);
        padding: 0 35px;
    }

    .about {
        padding: 0 10px;
        margin-top: 80px;
        margin-bottom: 80px;
        gap: 40px;
    }

    .about-item:nth-child(3) {
        min-height: 310px;
    }
    
    .about-title {
        font-size: 26px;
        line-height: 32px;
    }

    .about-text {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 0;
    }

    .about-item-title {
        font-size: 16px;
        line-height: 20px;
        margin-top: 0;
        margin-bottom: 16px;
    }

    .about-item-text {
        font-size: 16px;
        line-height: 24px;
        margin-top: 0;
        margin-bottom: 0;
        opacity: .6;
    }

    .about-link {
        display: block;
        text-align: center;
    }

    .subscribe-pop-up {
        width: 100%;
        min-height: 505px;
        position: fixed;
        background: #F3F3F3;
        top: 0;
        left: 0;
        box-shadow: 0px 4px 30px rgba(43, 53, 65, 0.6);
    }

    .subscribe-pop-up-title {
        max-width: max-content;
        margin: 0 auto;
    }

    .subscribe-pop-up-title::before {
        width: 31px;
        height: 31px;
        left: 48px;
        bottom: 12px;
    }

    .subscribe-pop-up-title h3 {
        font-size: 16px;
        line-height: 19px;
        padding: 0 65px;
        margin-top: 50px;
    }

    .subscribe-pop-up-description {
        font-size: 16px;
        line-height: 24px;
        padding: 0 65px;
        margin-top: 16px;
        margin-bottom: 28px;
    }

    .subscribe-pop-up-form {
        max-width: 100%;
        padding: 0 10px;
        gap: 2px;
    }

    .subscribe-pop-up-form input {
        width: calc(100% - 38px);
    }

    .subscribe-pop-up-form p {
        padding: 0;
    }

    .subscribe-pop-up-form button {
        width: 100%;
        margin-bottom: 40px;
    }

    .mobile-menu {
        padding: 33.5px 10px 10px 10px;
    }

    .mobile-menu-header {
        max-width: calc(100% - 20px);
    }

    .mobile-menu .links {
        max-width: calc(100% - 20px);
    }

    .mobile-menu .social {
        max-width: calc(100% - 20px);
    }
}

@media (max-width: 588px) {
    .banner-description {
        max-width: 80%;
    }
}

@media (max-width: 524px) {
    .subscribe-pop-up-title {
        max-width: min-content;
    }
    
    .subscribe-pop-up-title::before {
        left: 16px;
        bottom: 30px;
    }

    .subscribe-pop-up-title h3 {
        padding: 0;
    }
}

@media (max-width: 509px) {
    .subscribe-title {
        max-width: min-content;
    }
}

@media (max-width: 490px) {
    .events-item-grid {
        gap: 10px;
    }

    .events-item-maraphon,
    .events-item-vebinar1,
    .events-item-vebinar2 {
        min-height: 270px;
    }
}

@media (max-width: 450px) {
    .banner-description {
        max-width: 100%;
    }

    .banner-text-box {
        max-width: 100%;
    }
}

@media (max-width: 414px) {
    .banner-bg {
        height: 310px;
    }
}

@media (max-width: 410px) {
    .schedule-item-main-description {
        margin-top: 0;
    }
    
    .schedule-item-text {
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

@media (max-width: 400px) {
    .events-item-vebinar2 > .events-item-text {
        max-width: 35%;
    }
}

@media (max-width: 340px) {
    .events-item-grid {
        gap: 5px;
    }

    .events-item-maraphon,
    .events-item-vebinar1,
    .events-item-vebinar2 {
        padding: 10px 10px;
    }    
}